/*============================

Universal Styling


*=========================*/
*{
padding: 0;
margin: 0;
border:0;
font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: 'TravelingType';
  src: url('../Fonts/TravelingType.ttf')
  format('truetype');
}

p{
  color: #808080;
  font-size: 15px;
  line-height: 25px;
}

h2{
  color: #808080;
  text-align: left;
  text-decoration: underline;
}

h3{
  color: #808080;
  text-decoration: underline;
}

h1{
  color: #808080;
  text-align: center;
  font-weight: bold;
  font-family: 'TravelingType',cursive;
}

section{
  background: #f2f2f2;
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

img{
  display: block;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

td,th,table{
  border: 1px solid black;
}

thead{
  font-style: italic;
}
/*============================

Header Styling


*=========================*/
header{
  background: black;
  opacity: 70%;
  text-align: center;
  padding: 30px 15px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

header li{
  display: inline;
  width: 24%;
  padding: 15px;
}

header li a{
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-size: 25px;
  transition: .3s;
  }

  header li a:hover{
    color: white;
    transition: .3s;
  }
/*============================

Top Styling


*=========================*/
.top{
  background-image: url('../images/cast.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
  z-index: 2;
  position: absolute;
  top: 0;
}

.top-content{
  background:#e0d07b;
  max-width: 80%;
  min-width: 300px;
  margin: 100px 300px;
  padding: 20px 10px;
  border: 7px solid #808080;
  border-radius: 50px;
  overflow-x: hidden;
}
/*============================

Body Styling


*=========================*/

.intro{
  background: grey;
}

#name{
  Font-style: italic;
}

#title{
  text-transform: uppercase;
}
