/*============================

Universal Styling


*=========================*/
*{
padding: 0;
margin: 0;
border:0;
font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: 'TravelingType';
  src: url('../Fonts/TravelingType.ttf')
  format('truetype');
}

p{
  color: white;
  font-size: 20px;
  line-height: 30px;
}

h2:before, h2:after{
  content: "--------------";
  padding: 0 10px;
  text-decoration: none;
  }

h2{
  color: white;
  text-align: left;
  line-height: 50px;
}

h3{
  color: white;
  text-decoration: underline;
  line-height: 100px;
}

h1{
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'TravelingType',cursive;
  font-size: 50px;
  text-shadow: 1px 1px 2px white;
}


section{
  min-width: 700px;
  position:relative;
}

/*============================

Table Styling


*=========================*/
td,th,table{
  border: 3px solid black;
}

td{
  color: white;
  font-size: 20px;
}

thead{
  font-style: italic;
  color: white;
}
/*============================

Header Styling


*=========================*/
header{
  background: black;
  opacity: 70%;
  text-align: center;
  padding: 30px 15px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

header li{
  display: inline;
  width: 24%;
  padding: 15px;
}

header li a{
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-size: 25px;
  transition: .3s;
  }

  header li a:hover{
  color: white;
  transition: .3s;
  }
/*============================

Top Styling


*=========================*/
.top{
  background-image: url('../images/cast.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  min-width: 1000px;
  margin: auto;
  z-index: 2;
  top: 0;
}

.top-content{
  background: grey;
  opacity: 70%;
  min-width: 500px;
  margin: 150px 300px;
  padding: 20px 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  animation-name: word;
  animation-duration: 17s;
  animation-timing-function: ease-in;
  animation-direction: forward;
  animation-iteration-count: infinite;
  position: absolute;
}
/*============================

Intro Body Styling


*=========================*/

.first{
  margin: auto;
  padding: 70px 30px;
  align: center;
  position: relative;
  min-width: 700px;
  height: 500px;
  background-color: grey;
  z-index: 2;
}

.text{
  margin: auto;
  min-width: 1000px;
  height: 400px;
  padding: 50px;
  background-color: darkgrey;
  z-index: 3;
}

.text img{
  float: right;
  bottom: 1000px;
}

.first img{
  display: block;
  border-radius: 30px;
  padding: 50px;
  width: 500px;
  height: auto;
  float: right;.
  margin-right: 10%;
  margin-top: -6%;
}

/*============================

 Synopsis Styling


*=========================*/
.synopsis{
  background-color: grey;
  opacity: 70%;
  margin: auto;
  padding: 100px;
  height: 600px;
  min-width: 500px;
  align: center;
  overflow: scroll;
}
/*============================

 Cast Styling


*=========================*/
.cast{
  background-color: grey;
  height: 400px;
  padding: 100px;
  align: center;
}

.table_cast{
  position: absolute;
  right: auto;
}
/*============================

Awards Styling


*=========================*/
.recption_and_awards{
  background: grey;
  opacity: 70%;
  margin: auto;
  padding: 100px;
  align: center;
}

span{
  color: black;
  font-style: italic;
}

.awards table{
  margin: 5px 200px;
  align: center;
}

#name{
  Font-style: italic;
  color: red;
}

#title{
  text-transform: uppercase;
}

@keyframes word {
  from {
    left: -1000px;
  }
  to {
    left: 1600px;
  }
}
